  <!DOCTYPE html>
<html>
  <head>
    <header>
    <ul>
     <li><a href="/">Inicio</a></li>
        <li><a href="/login">Entrar</a></li>
        <li><a href="admin/productos">Productos</a></li>
        <li style="float:right"><a class="active" href="/carrito">Carrito</a></li>
    </ul>
        <h1 style="display: flex; justify-content: center; color: black;">Me lo merezco</h1>
    </header>
  </head>

<body style="background-color: moccasin;">

  <img src="https://historiadelavida.editorialaces.com/wp-content/uploads/2019/02/De-donde-viene-el-arcoiris-PORTADA.png" alt="" style="display: block; margin:auto; padding-bottom: 50px; padding-top: 50px">

  <div style="display: block; margin:auto;">
    <h2 ><i class="fas fa-rainbow">-Productos para regalar y regalarte </i></h2>
    <h2><i class="fas fa-rainbow">-Realizados a mano y con amor</i></h2>

  </div>

</body>